@use "../abstracts/" as *;

:root {
    @each $color, $shade-map in $colors {
        @each $shade, $shade-value in $shade-map {
            --#{$color}-#{$shade}: #{$shade-value};
        }
    }

    // font sizes custom properties
    @each $screen-size, $font-size-map in $font-sizes {
        @if ($screen-size == small) {
            @each $font-size-name, $font-size-value in $font-size-map {
                --fs-#{$font-size-name}: #{$font-size-value};
            }
        } @else {
            @include mq($screen-size) {
                @each $font-size-name, $font-size-value in $font-size-map {
                    --fs-#{$font-size-name}: #{$font-size-value};
                }
            }
        }
    }
    
    // line heights custom properties
    @each $screen-size, $line-height-map in $line-heights {
        @if ($screen-size == small) {
            @each $line-height-name, $line-height-value in $line-height-map {
                --lh-#{$line-height-name}: #{$line-height-value};
            }
        } @else {
            @include mq($screen-size) {
                @each $line-height-name, $line-height-value in $line-height-map {
                    --lh-#{$line-height-name}: #{$line-height-value};
                }
            }
        }
    }

    // sections custom properties
    --hero-section-padding-block: 8.125rem 15.5rem;
    @include mq(medium) {
        --hero-section-padding-block: 7.625rem 12.7rem;
    }
    @include mq(large) {
        --hero-section-padding-block: 9.125rem 20.275rem;
    }

    --learn-more-section-padding-block: 10rem 4.5rem;
    @include mq(medium) {
        --learn-more-section-padding-block: 12.75rem 6.5rem;
    }
    @include mq(large) {
        --learn-more-section-padding-block: 15.9375rem 10.6875;
    }

    --testimonial-section-padding-block: 2.9374rem 15rem;
    @include mq(medium) {
        --testimonial-section-padding-block: 0rem 17.175rem;
    }
    @include mq(large) {
        --testimonial-section-padding-block: 0rem 8.75rem;
    }

    // cards custom properties
    --card-body-padding: 2rem;
    @include mq(medium) {
        --card-body-padding: 3.5rem;
    }
    @include mq(large) {
        --card-body-padding: 4rem;
    }

    // containers custom properties
    --container-inline-padding: 1rem;
    @include mq(medium) {
        --container-inline-padding: 2.5rem;
    }

}