$-clr-dark-purple: hsl(273, 85%, 13%);
$-clr-davys-gray: hsl(271, 12%, 34%);
$-clr-ghost-white: hsl(276, 100%, 99%);
$-clr-white: hsl(0, 0%, 100%);
$-clr-eucalyptus: hsl(150, 100%, 63%);

$colors: (
    neutral: (
        900: $-clr-dark-purple,
        400: $-clr-davys-gray,
        200: $-clr-ghost-white,
        100: $-clr-white,
    ),
    accent: (
        400: $-clr-eucalyptus,
    )
);

$color-neutral-900: var(--neutral-900);
$color-neutral-400: var(--neutral-400);
$color-neutral-200: var(--neutral-200);
$color-neutral-100: var(--neutral-100);
$color-accent-400: var(--accent-400);
