@use "../abstracts/" as *;

.card {
    display: grid;
    gap: $card-flow-spacing;
    padding: $card-body-padding;
    background-color: $card-background-default;
    font-family: $card-font-family;
    color: $card-color-default;
    line-height: $card-line-height;

    &__heading {
        color: $card-heading-color-default;
        font-family: $card-heading-font-family;
        font-size: $card-heading-font-size;
        text-transform: $card-heading-text-transform;
        letter-spacing: $card-heading-letter-spacing;
        font-weight: $card-heading-font-weight;
        line-height: $card-heading-line-height;
    }
}
